@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* colors  */
  --white: #ffffff;

  /* black */
  --black: #000;

  /* natural */
  --natural-100: #cecece;
  --natural-200: #eeeeee;
  --natural-300: #cfcfcf;
  --natural-400: #bdbdbd;
  --natural-500: #9e9e9e;
  --natural-950: #0a0a0a;

  /* blue  */
  --navy-blue: #1a47b8;
  --blue-900: #0d308c;
  --blue-800: #26408d;
  --blue-700: #3e518c;
  --blue-600: #4d66d4;

  /* primary */
  --primary-black: #01251c;
  --primary-950: #006752;
  --primary-800: #50a99a;
  --primary-700: #00c896;
  --primary-500: #00ff95;
  --blue-50: #d0fff7;

  /* red */
  --red: #f93939;
  --red-900: #a02838;
  --red-800: #d80027;
  --red-700: #ff7c58;

  /* secondary */
  --secondary-200: #ffb94a;
  --secondary-300: #ffc44d;
  --secondary-400: #ffda44;
  --secondary-500: #ff9d00;

  /* text */
  --text-50: #fafafa;
  --text-100: #f5f5f5;
  --text-200: #eee;
  --text-500: #9e9e9e;
  --text-700: #4a4a4a;
  --text-950: #0a0a0a;
}

@theme inline {
  /* colors  */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* white  */
  --color-white: var(--white);

  /* black */
  --color-black: var(--black);

  /* natural */
  --color-natural-100: var(--natural-100);
  --color-natural-200: var(--natural-200);
  --color-natural-300: var(--natural-300);
  --color-natural-400: var(--natural-400);
  --color-natural-500: var(--natural-500);
  --color-natural-950: var(--natural-950);

  /* blue  */
  --color-navy-blue: var(--navy-blue);
  --color-blue-900: var(--blue-900);
  --color-blue-800: var(--blue-800);
  --color-blue-700: var(--blue-700);
  --color-blue-600: var(--blue-600);

  /* primary */
  --color-primary-black: var(--primary-black);
  --color-primary-950: var(--primary-950);
  --color-primary-800: var(--primary-800);
  --color-primary-700: var(--primary-700);
  --color-primary-500: var(--primary-500);
  --color-blue-50: var(--blue-50);

  /* red */
  --color-red: var(--red);
  --color-red-900: var(--red-900);
  --color-red-800: var(--red-800);
  --color-red-700: var(--red-700);

  /* secondary */
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);

  /* text */
  --color-text-50: var(--text-50);
  --color-text-100: var(--text-100);
  --color-text-200: var(--text-200);
  --color-text-500: var(--text-500);
  --color-text-700: var(--text-700);
  --color-text-950: var(--text-950);
  /* fonts  */
  --font-inter: var(--font-inter-tight);
  --font-barlow: var(--font-barlow-condensed);
  /* custom space  */
  --spacing-5xl: 3.75rem; /* 60px */
  --spacing-7xl: 7.5rem; /* 120px */
  /* font size  */
  --text-3xs: 1.75rem; /* 28rem */
  --text-4xs: 2rem; /* 32rem */
  --text-7xs: 4rem; /* 64rem */
  /* border-radius  */
  --radius-3xs: 1.25rem; /* 20px */
  /* breakpoint  */
  --breakpoint-xs: 27.5rem; /* 440px */
}

.containerX {
  @apply w-full max-w-[120rem] mx-auto px-6 md:px-10 lg:px-20 xl:px-28 2xl:px-32 duration-200;
}

.emblaPadding {
  @apply px-6 md:px-10 lg:px-20 xl:px-28 2xl:px-32;
}

.title {
  @apply text-5xl md:text-6xl lg:text-8xl 2xl:text-[7.50rem] font-barlow font-bold sm:font-black uppercase leading-[100%];
}

.btn {
  @apply cursor-pointer transition-transform duration-150 ease-in-out;
  &:active {
    @apply scale-95;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 0; /*48px*/
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* .embla__slide:not(.is-snapped) {
  width: 20%;
}

.embla__slide.is-snapped {
  width: 60%;
} */
.embla-slide-inner.active {
  background-color: var(--primary-700);
  border-color: transparent;
  color: var(--text-950);
}

.embla-slide-inner.active .designation {
  color: var(--text-700);
}

.embla-slide-inner.active svg {
  color: var(--text-950);
}
